<div class="mt-0">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <img class="d-block img-fluid" [src]="images[0]" alt="Random first slide">
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="d-block img-fluid" [src]="images[1]" alt="Random second slide">
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="d-block img-fluid" [src]="images[2]" alt="Random third slide">
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<div class="album py-4 mb-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-dark">幸福·喜事定制</h5>
            <p class="card-text text-secondary">
              【你的幸福时刻 特曲专属见证】
              宴席自古是中国人重要的社交场合。匠心独运的宴席专属定制美酒，不仅提升宴席档次，更凸显主人与众不同。
              特曲幸福喜事定制，专为各种幸福喜事宴席定制。
            </p>
          </div>
          <img class="card-img-bottom" src="../../assets/images/dingzhi1.jpeg" alt="Card image cap">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-dark">珍藏礼赠定制</h5>
            <p class="card-text text-secondary">
              【尊享专属定制 彰显身份品位】
              指引前进方向，推动社会前行，对社会发展做出重大贡献，这样的人，值得我们尊敬，值得我们举杯感谢。
              特曲珍藏礼赠定制，专为领袖精英、社会名流人士等特别定制。
            </p>
          </div>
          <img class="card-img-bottom" src="../../assets/images/dingzhi3.jpg" alt="Card image cap">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-dark">成功商务定制</h5>
            <p class="card-text text-secondary">
            【为征程握手 为共赢举杯】
            良好的品牌形象，对企业的发展至关重要。企业专属定制酒，展现企业实力，提升品牌美誉度，为企业的发展加油鼓劲。
            特曲成功商务定制，以传世浓香，见证成功喜悦。
            </p>
          </div>
          <img class="card-img-bottom" src="../../assets/images/dingzhi2.jpg" alt="Card image cap">
        </div>
      </div>

    </div>
  </div>
</div>