<nav class="navbar navbar-dark bg-dark mb-3">
  <div class="container d-flex justify-content-between">

    <div id="collapseExample" [ngbCollapse]="isCollapsed" class="row">
      <div class="col-sm-8 col-md-7 py-4">
        <h4 class="text-white">关于我们</h4>
        <p class="text-muted">久鑫盛源贸易(武汉)有限公司是泸州老窖在湖北省代理商，是武汉市酒类专管局备案的正规公司。
          我们以高品质的产品，优质的服务，低于市场的价格赢得广大客户的认可！
          每款产品都是一手货源，个性化定义，厂家直供。专业的酒水礼品策划团队，为客户量身定制解决方案。</p>
      </div>
      <div class="col-sm-4 offset-md-1 py-4">
        <h4 class="text-white">联系我们</h4>
        <ul class="list-unstyled">
          <li class="text-white">热线：13808651986</li>
          <li class="text-white">地址：武汉市江汉区新华西路菱角湖万达A3写字楼1407室</li>
          <li class="text-white">微信：<img src="../../../assets/images/wechat.png" width="80" height="80"></li>
        </ul>
      </div>
    </div>

    <a class="navbar-brand" [routerLink]="['/wine']">
      <img src="../../../assets/images/logo_gold.png" width="150" height="30" class="d-inline-block align-top"
        alt="">
      
    </a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a [routerLinkActive]="['active']" [routerLink]="['/wine']" class="nav-item nav-link">泸州老窖</a>
        <a [routerLinkActive]="['active']" [routerLink]="['/redwine']" class="nav-item nav-link ">奔富红酒</a>
        <a [routerLinkActive]="['active']" [routerLink]="['/custom']" class="nav-item nav-link">酒品定制</a>
      </div>
    </div>
    <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>