<nav class="navbar navbar-dark bg-dark mb-3">
  <div class="container d-flex justify-content-between">

    <div id="collapseExample" [ngbCollapse]="isCollapsed" class="row">
      <div class="col-sm-8 col-md-7 py-4">
        <h4 class="text-white">关于我们</h4>
        <p class="text-muted">久鑫盛源贸易(武汉)有限公司，作为泸州老窖授权经销商，主要经营国窖1573、泸州老窖特曲及奔富等中高端进口红酒，
          公司以品质保证、优质服务、优惠价格赢得广大客户的认可！“货真价优”是我们的经营理念。此外，我们还有专业的活动策划团队，
          专门为客户提供个性化的定制服务。</p>
      </div>
      <div class="col-sm-4 offset-md-1 py-4">
        <h4 class="text-white">联系我们</h4>
        <ul class="list-unstyled">
          <li class="text-white">热线：13808651986</li>
          <li class="text-white">地址：武汉市江汉区新华西路菱角湖万达A3写字楼1407室</li>
          <li class="text-white">微信：<img src="../../../assets/images/wechat.png" width="80" height="80"></li>
        </ul>
      </div>
    </div>

    <a class="navbar-brand" [routerLink]="['/wine']">
      <img src="../../../assets/images/logo_gold.png" width="140" height="30" class="d-inline-block align-top"
        alt="">
      
    </a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a [routerLinkActive]="['active']" [routerLink]="['/wine']" class="nav-item nav-link">泸州老窖</a>
        <a [routerLinkActive]="['active']" [routerLink]="['/redwine']" class="nav-item nav-link ">奔富红酒</a>
        <a [routerLinkActive]="['active']" [routerLink]="['/custom']" class="nav-item nav-link">酒品定制</a>
      </div>
    </div>
    <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>