<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">泸州老窖</h1>
    <p class="lead text-muted">“卓越品质，源于坚持”，泸州老窖特曲一直为广大消费者认可和追捧，致力于打造中国强势民族品牌。
      随着时代发展，消费者越来越喜欢追崇创新，彰显个性。为此，泸州老窖特曲以“一体两翼”的产品构架为方案，全面开展定制酒业务，为消费者打造独一无二的专属定制产品。
    </p>
    <p>
      <button type="button" class="btn btn-primary my-2" placement="right" ngbPopover="13808651986" popoverTitle="敬请致电：">
        联系我们
      </button>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="../assets/images/p1.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">国窖1573源自全国重点文物保护单位——始建于公元1573年、连续使用至今、原址原貌保护完整的1573国宝窖池群。</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" placement="right" [ngbPopover]="popContent"
                  popoverTitle="链接官网：">
                  详情
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary" placement="right" ngbPopover="13808651986"
                  popoverTitle="敬请致电：">
                  询价
                </button>
                <div style="width: 110px">
                  <ng-template #popContent><a href="https://www.lzlj.com/">泸州老窖</a></ng-template>
                </div>
              </div>
              <small class="text-muted">2箱 起</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="../assets/images/p2.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">泸州老窖特曲以 “醇香浓郁、清洌甘爽、饮后尤香、回味悠长”的独特风格著称于世，被誉为“浓香鼻祖，酒中泰斗”。</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" placement="right" [ngbPopover]="popContent"
                  popoverTitle="链接官网：">
                  详情
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary" placement="right" ngbPopover="13808651986"
                  popoverTitle="敬请致电：">
                  询价
                </button>
                <div style="width: 110px">
                  <ng-template #popContent><a href="https://www.lzlj.com/">泸州老窖</a></ng-template>
                </div>
              </div>
              <small class="text-muted">2箱 起</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="../assets/images/p3.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">使用泥窖池发酵，窖池使用越久，其微生物越丰富，酿出的酒香味物质含量越丰富，酒质则更好。</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" placement="right" [ngbPopover]="popContent"
                  popoverTitle="链接官网：">
                  详情
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary" placement="right" ngbPopover="13808651986"
                  popoverTitle="敬请致电：">
                  询价
                </button>
                <div style="width: 110px">
                  <ng-template #popContent><a href="https://www.lzlj.com/">泸州老窖</a></ng-template>
                </div>
              </div>
              <small class="text-muted">2箱 起</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="../assets/images/p4.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">使用泥窖池发酵，窖池使用越久，其微生物越丰富，酿出的酒香味物质含量越丰富，酒质则更好。</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" placement="right" [ngbPopover]="popContent"
                  popoverTitle="链接官网：">
                  详情
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary" placement="right" ngbPopover="13808651986"
                  popoverTitle="敬请致电：">
                  询价
                </button>
                <div style="width: 110px">
                  <ng-template #popContent><a href="https://www.lzlj.com/">泸州老窖</a></ng-template>
                </div>
              </div>
              <small class="text-muted">2箱 起</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="../assets/images/p5.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">泸州老窖二曲是泸州老窖具有广泛市场基础的一款产品，独具“醇、香、甜、净”的风格。</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" placement="right" [ngbPopover]="popContent"
                  popoverTitle="链接官网：">
                  详情
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary" placement="right" ngbPopover="13808651986"
                  popoverTitle="敬请致电：">
                  询价
                </button>
                <div style="width: 110px">
                  <ng-template #popContent><a href="https://www.lzlj.com/">泸州老窖</a></ng-template>
                </div>
              </div>
              <small class="text-muted">2箱 起</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="../assets/images/p6.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">率先在行业内正式提出“养生酒”概念，将传承400余年的养生酒古法酿制技艺与现代生物技术相结合。</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">详情</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">询价</button>
              </div>
              <small class="text-muted">2箱 起</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="../assets/images/p7.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">使用泥窖池发酵，窖池使用越久，其微生物越丰富，酿出的酒香味物质含量越丰富，酒质则更好。</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" placement="right" [ngbPopover]="popContent"
                  popoverTitle="链接官网：">
                  详情
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary" placement="right" ngbPopover="13808651986"
                  popoverTitle="敬请致电：">
                  询价
                </button>
                <div style="width: 110px">
                  <ng-template #popContent><a href="https://www.lzlj.com/">泸州老窖</a></ng-template>
                </div>
              </div>
              <small class="text-muted">2箱 起</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="../assets/images/p1.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">使用泥窖池发酵，窖池使用越久，其微生物越丰富，酿出的酒香味物质含量越丰富，酒质则更好。</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">详情</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">询价</button>
              </div>
              <small class="text-muted">2箱 起</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="../assets/images/p2.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">使用泥窖池发酵，窖池使用越久，其微生物越丰富，酿出的酒香味物质含量越丰富，酒质则更好。</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" placement="right" [ngbPopover]="popContent"
                  popoverTitle="链接官网：">
                  详情
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary" placement="right" ngbPopover="13808651986"
                  popoverTitle="敬请致电：">
                  询价
                </button>
                <div style="width: 110px">
                  <ng-template #popContent><a href="https://www.lzlj.com/">泸州老窖</a></ng-template>
                </div>
              </div>
              <small class="text-muted">2箱 起</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>