<div class="card bg-dark text-white">
  <img class="card-img" src="../../assets/images/wine_banner.jpg" alt="Card image">
  <div class="card-img-overlay">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
    <p class="card-text"></p>
  </div>
</div>

<div class="album py-4 mb-4 bg-light">
  <div class="container">

    <div class="row" *ngIf="wines">
      <div class="col-md-4" *ngFor="let wine of wines; let i=index;">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="{{wine.image}}" alt="Card image cap">
          <div class="card-body">
            <p class="card-text text-secondary">{{wine.discription}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" placement="right" [ngbPopover]="popContent"
                  popoverTitle="链接官网：">
                  详情
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary" placement="right" ngbPopover="{{wine.phone}}"
                  popoverTitle="敬请致电：">
                  询价
                </button>
                <div style="width: 110px">
                  <ng-template #popContent><a href="{{wine.link}}">泸州老窖</a></ng-template>
                </div>
              </div>
              <small class="text-muted">{{wine.others}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>